*{
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

#tabela-dados {
    display: none;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 2px;
    text-align: left;
}


button{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#assinatura{
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    display: inline-block;
}

#assinatura:hover {
    background-color: #0056b3;
}

    /* Estilização para o fundo escuro semitransparente */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    /* Estilização para o "quadrado" que contém as informações */
    .popup {
        background-color: #fff; /* Fundo branco */
        padding: 20px;
        border-radius: 10px;
        width: 400px; /* Largura do "quadrado" */
        text-align: center;
        z-index: 1001; /* Garante que está acima do fundo escuro */
        position: relative;
    }


    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

#table-download{
    width: auto;
}

#collum-download{
    white-space: nowrap; 
    border: 1px solid #ddd;
}

#download{
    background-color: #007bff; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}

#collum-name{
    white-space: nowrap; 
    border: 1px solid #ddd; 
}